@import "bootstrap-sprockets"
@import "bootstrap"

.center
  margin-top: 80px
  text-align: center

  h2
    margin-bottom: 50px

#logo
  float: left
  font-size: 20px
  font-weight: bold
  padding-top: 8px
  color: #fff
  text-decoration: none

  &:hover
    text-decoration: none
